:root {
  --background: #ffffff;
  --foreground: #0A1F44;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  -webkit-tap-highlight-color: transparent;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.template {
  width: calc(100% - 76px);
  margin: 0em 76px 5em;
}

.carousel{
  position: relative;
  background-color: #171717;
  width: 50%;
  overflow: hidden;
  cursor: pointer;
}

.SidePanelFont{
  font-size: 5vw;
  font-weight: bold;
  color: #0A1F44;
  font-family: "Roboto", sans-serif;
}

.insideText{
  font-family: "Farnham Text";
  font-style: italic;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.insideText::before{
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #FFE381;
  z-index: -1; 
  transition: all 0.3s ease; 
}

.Heading{
  margin-left: 2em;
  margin-top: 1em;
}
.Paragraph{
  margin-top:2em;
  font-size: 16px;
  width: 80%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  color:#0A1F44;
}

.title{
  font-size: 80px;
  font-weight: 550;
  margin-bottom: 20px;
  letter-spacing: 3px;
}
.label{
  font-size: 18px;
  font-weight: 400;
  width: 70%;
  margin-bottom: 3em;
}

.avatar{
 justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suMenh{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  width: 50%;
  margin-top: 1em;
}

.picsGallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.picHolder{
  position: relative;
  aspect-ratio: 3/3;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) {
  .picsGallery{
    grid-template-columns: 1fr 1fr;
  }
  .template {
    width: 100%;
    margin-left:0;
    margin-right:0;
    margin-top: 76px;
    margin-bottom: calc(2em + 76px);
  }
  .navMob{
    position:absolute;
    top:0;
    right:0;
    margin: 1em;
  }
  .carousel{
    width: 100%;
    height: 300px;
  }
  .SidePanelFont{
    font-size: 45px;
  }
  .Paragraph{
    width: 100%;
    font-size: 16px;
  }
  .Heading{
    margin-left: 1em;
  }
}