:root {
  --background: #ffffff;
  --foreground: #0A1F44;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  -webkit-tap-highlight-color: transparent;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.wrapper{
  width: 80%;
  margin: 0 auto 5em;
}

html ::selection{
  background-color: #FFE381;
  color: #0A1F44;
}

.template {
  width: calc(100% - 76px);
  margin: 0em 76px 0em;
}


.carousel--img {
  width: 50vw;
  height: 100vh; /* Căn chỉnh chiều cao phù hợp với container */
  position: relative;

}

.SidePanelFont{
  font-size: 5vw;
  font-weight: bold;
  color: #0A1F44;
  font-family: "Roboto", sans-serif;
}

.insideText{
  font-family: "Farnham Text";
  font-style: italic;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.insideText::before{
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #FFE381;
  z-index: -1; 
  transition: all 0.3s ease; 
}

.insideText:hover::before{
  height: 50%;
}

.Heading{
  margin-left: 2em;
  margin-top: 1em;
}
.Paragraph{
  margin-top:2em;
  font-size: 16px;
  width: 80%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  color:#0A1F44;
}
.imageFull{
  width: 100%;
  position: relative;
  aspect-ratio: 16/7;
  overflow: hidden;
  cursor: pointer;
  border-radius: 16px;
}
.title{
  font-size: 80px;
  font-weight: 550;
  margin-bottom: 20px;
  letter-spacing: 3px;
}
.label{
  font-size: 18px;
  font-weight: 400;
  width: 70%;
  margin-bottom: 3em;
}
.embedPhoto{
  position: relative;
  aspect-ratio: 1/1;
  margin: auto;
  width: 50%;
  margin-bottom: 2em;
  margin-top :2em;

}
.avatar{
 justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suMenh{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1em;
  gap: 2em;
  width: 100%;
}
.suMenhTag:hover{
  color: rgb(221,111,84);
  transition: all 0.3s ease;
}
.Look{
  width: 80%;
  padding-left:10%;
  text-align: right;
  margin-bottom: 1em;
}

.giaTriCotLoi{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.picsGallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.picHolder{
  position: relative;
  aspect-ratio: 3/3;
  overflow: hidden;
  cursor: pointer;
}

.path{
  position: relative;
  display: inline-block;
}
.writingPhoto{
  width: 100%;
  position: relative;
  aspect-ratio: 16/10;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 2em;
}
.path::before{
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #FFE381;
  z-index: -1; 
  transition: all 0.3s ease; 
}

.seperate{
  margin-bottom: 2.5em;
  border:none;
  margin-top:1em;
  flex: 1 1 0%;
  border-bottom: 2px dotted hsl(0 0% 88.7%);
  width: 100%; 
  flex-shrink: 0;
}

.footerHR{
  margin-top: 3em;
  border:none;
  flex: 1 1 0%;
  border-bottom: 1px solid hsl(0 0% 88.7%);
  width: 100%; 
  flex-shrink: 0;
}

.writingText{
  font-size: 20px;
  font-family: "Roboto", san-serif;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color:#0A1F44;
}

.writingText p {
  margin-bottom: 1.5em; /* Adjust as needed */
}
.path:hover::before{
  height: 50%;
}
.teamMember{
  display: grid;
  margin:auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.teamImage{
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-top:1em;
  border-radius: 12px;
  cursor: pointer;
}

.linkTo{
  color: #222222;
  text-transform: uppercase;
  font-size: smaller;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.linkTo:before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #222222;
  transition: all 0.5s ease; 
}

.linkTo:not(:hover){
  opacity: 0.5;
}

.linkTo:not(:hover)::before{
  opacity: 0.5;
}

.poster__content{
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.poster__image{
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
  cursor: pointer;
  margin-bottom:1em;
}

@media (max-width: 768px) {
  .embedPhoto{
    width: 100%;
  }
  .carousel--img{
    width: 100vw;
    height: 350px;
    position: relative;
  }
  .poster__content{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  .teamMember{
    display: grid;
    margin:auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .imageFull{
    width: 100%;
    position: relative;
    aspect-ratio: 16/10;
    border-radius: 12px;
  }

  .Look{
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
    padding-left:0%;
  }
  .suMenh{
    display: grid;
    grid-template-columns: 1fr;
  }
  .wrapper{
    width: 90%;
    margin: 0 auto 10em;
  }
  .picsGallery{
    grid-template-columns: 1fr;
  }
  .template {
    width: 100%;
    margin-left:0;
    margin-right:0;
    margin-top: calc(1em + 76px);
    margin-bottom: calc(2em + 76px);
  }
  .navMob{
    position:absolute;
    top:0;
    right:0;
    margin: 1em;
  }
  .SidePanelFont{
    font-size: 45px;
  }
  .Paragraph{
    width: 100%;
    font-size: 16px;
  }
  .Heading{
    margin-left: 1em;
  }
  .path{
    margin-top: 2em;
  }
}