.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 76px;
  padding: 10px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
}
.setting{
  margin-bottom: 1em;
}
.logo{
  margin-top: 1em;
}