.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 76px;
  padding: 10px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f1f1f1;
}

.containerBottom{
  display: none;
}

.navBottom{
  display: none;
}

.setting{
  margin-bottom: 1em;
}

.logo{
  margin-top: 1em;
}
.logo:hover{
  cursor: pointer;
  scale: 1.1;
  transition: 0.2s ease-in-out;
}
.mobile{
  display: none;
}

/* For mobile screen */
@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: row;
    height: 76px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
  .logo:hover{
    cursor: pointer;
    scale: 1;
  }
  .containerBottom{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 76px;
    padding: 10px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f1f1f1;
  }

  .setting{
    margin-bottom: 0;
    display: none;
  }
  .mobile{
    display: block;
  }
  .nav{
    display: none;
  }
  .logo{
    margin-top: 0;
    margin:auto;
  }
}